ARCH=arm
BRANCH=mirror-aosp-android-beagle-x15-4.14
CLANG_TRIPLE=arm-linux-gnueabi-
CROSS_COMPILE=arm-linux-androidkernel-
DEFCONFIG=ti_sdk_am57x_android_release_defconfig
EXTRA_CMDS=''
KERNEL_DIR=omap
CLANG_PREBUILT_BIN=prebuilts-master/clang/host/linux-x86/clang-r349610/bin
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin
FILES="
arch/arm/boot/zImage
arch/arm/boot/dts/ti/am57xx-beagle-x15-revc.dtb
arch/arm/boot/dts/ti/am57xx-evm-common.dtbo
arch/arm/boot/dts/ti/am57xx-evm-reva3.dtbo
vmlinux
System.map
"
# PowerVR SGX driver
export BUILD_PROP=${ROOT_DIR}/omap/modules/eurasia_km/build.prop
export KERNELDIR=${ROOT_DIR}/out/${BRANCH}/${KERNEL_DIR}
export DISCIMAGE=${ROOT_DIR}/out/${BRANCH}/staging
export KERNEL_CROSS_COMPILE=${CROSS_COMPILE}
export TARGET_DEVICE=am57xevm
export JAVAC=/bin/true
EXT_MODULES="
omap/modules/eurasia_km/eurasiacon/build/linux2/omap_android
"
