CONFIG_PATH=$(realpath ${BASH_SOURCE[0]})
OMAP_KERNEL_DIR=$(dirname ${CONFIG_PATH})
OMAP_KERNEL_DIR=${OMAP_KERNEL_DIR##${ROOT_DIR}/}

. ${ROOT_DIR}/${OMAP_KERNEL_DIR}/build.config.common
. ${ROOT_DIR}/${OMAP_KERNEL_DIR}/build.config.arm

KERNEL_DIR=${OMAP_KERNEL_DIR}
BRANCH=android-beagle-x15-4.19
DEFCONFIG=ti_sdk_am57x_android_release_defconfig
BUILDTOOLS_PREBUILT_BIN=''
CLANG_PREBUILT_BIN=prebuilts-master/clang/host/linux-x86/clang-r383902/bin

FILES="
arch/arm/boot/zImage
arch/arm/boot/dts/ti/*.dtb*
vmlinux
System.map
"
