CONFIG_PATH=$(realpath ${BASH_SOURCE[0]})
OMAP_KERNEL_DIR=$(dirname ${CONFIG_PATH})
OMAP_KERNEL_DIR=${OMAP_KERNEL_DIR##${ROOT_DIR}/}

. ${ROOT_DIR}/${OMAP_KERNEL_DIR}/build.config.common

KERNEL_DIR=${OMAP_KERNEL_DIR}

ARCH=arm
BRANCH=android-beagle-x15-4.14
CLANG_TRIPLE=arm-linux-gnueabi-
CROSS_COMPILE=arm-linux-androidkernel-
DEFCONFIG=ti_sdk_am57x_android_release_defconfig
EXTRA_CMDS=''
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9/bin

BUILDTOOLS_PREBUILT_BIN=''
IN_KERNEL_MODULES=1
DO_NOT_STRIP_MODULES=1

FILES="
arch/arm/boot/zImage
arch/arm/boot/dts/ti/am57xx-beagle-x15-revc.dtb
arch/arm/boot/dts/ti/am57xx-evm-common.dtbo
arch/arm/boot/dts/ti/am57xx-evm-reva3.dtbo
vmlinux
System.map
"
