// SPDX-License-Identifier: GPL-2.0
/**
 * DT overlay for enabling MCAN for AM62P-SK
 *
 * Copyright (C) 2023 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

&{/} {
	transceiver1: can-phy0 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	transceiver2: can-phy1 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	transceiver3: can-phy2 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};

	transceiver4: can-phy3 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
	};
};

&main_pmx0 {
	main_mcan0_pins_default: main-mcan0-pins-default {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x01dc, PIN_INPUT, 0) /* (F20) MCAN0_RX */
			AM62PX_IOPAD(0x01d8, PIN_OUTPUT, 0) /* (B23) MCAN0_TX */
		>;
	};

	main_mcan1_pins_default: main-mcan1-pins-default {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x00b4, PIN_INPUT, 5) /* (U25) GPMC0_CSn3.MCAN1_RX */
			AM62PX_IOPAD(0x00b0, PIN_OUTPUT, 5) /* (T22) GPMC0_CSn2.MCAN1_TX */
		>;
	};
};

&main_i2c2{
	/* Conflict: GPMC0_CSn3, GPMC0_CSn2 */
	status = "disabled";
};

&main_i2c1 {
	gpio@23 {
		p20-hog {
		/* P20 - SoC_I2C2_MCAN_SEL */
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "SoC_I2C2_MCAN_SEL";
		};
	};
};

&main_mcan0 {
	/* J3: RX=P8/TX=P10 */
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan0_pins_default>;
	phys = <&transceiver1>;
	status = "okay";
};

&main_mcan1 {
	/* J1: RX=P2/TX=P1 */
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan1_pins_default>;
	phys = <&transceiver2>;
	status = "okay";
};

&mcu_mcan0 {
	/* J11: RX=P22/TX=P16 */
	phys = <&transceiver3>;
	status = "okay";
};

&mcu_mcan1 {
	/* J11: RX=P11/TX=P10 */
	phys = <&transceiver4>;
	status = "okay";
};
