// SPDX-License-Identifier: GPL-2.0
/**
 * AM62 family of devices can wakeup from Low Power Modes via
 * multiple wakeup sources. This overlay enables MAIN GPIO, MCU GPIO,
 * and MCU MCAN wakeup. WKUP UART wakeup is disabled and DSS is disabled
 * in order to allow Main GPIO and MCU GPIO wakeup.
 *
 * Copyright (C) 2023 Texas Instruments Incorporated - http://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

#include "k3-pinctrl.h"

&{/} {
	gpio_key {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&main_gpio0_pins_default>,
			    <&main_gpio1_pins_default>;

		key-gpio0-49 {
			label = "WKGPIO_GPIO0_49";
			linux,code = <KEY_WAKEUP>;
			interrupts-extended = <&main_gpio0 49 IRQ_TYPE_EDGE_RISING>,
				<&main_pmx0 0x0c8>;
			interrupt-names = "irq", "wakeup";
		};

		key-gpio1-10 {
			label = "WKGPIO_GPIO1_10";
			linux,code = <KEY_WAKEUP>;
			interrupts-extended = <&main_gpio1 10 IRQ_TYPE_EDGE_RISING>,
				<&main_pmx0 0x1a0>;
			interrupt-names = "irq", "wakeup";
		};

		key-gpio1-13 {
			label = "WKGPIO_GPIO1_13";
			linux,code = <KEY_WAKEUP>;
			interrupts-extended = <&main_gpio1 13 IRQ_TYPE_EDGE_RISING>,
				<&main_pmx0 0x1ac>;
			interrupt-names = "irq", "wakeup";
		};
	};

	mcu_gpio_key {
		compatible = "gpio-keys";
			autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&wake_mcugpio1_pins_default>;

		key-mcu-gpio0-4 {
			label = "MCUGPIO_4";
			linux,code = <143>;
			gpios = <&mcu_gpio0 4 GPIO_ACTIVE_LOW>;
			interrupt-parent = <&mcu_gpio0>;
			interrupts = <4 IRQ_TYPE_EDGE_RISING>;
			wakeup-source;
		};

		key-mcu-gpio0-9 {
			label = "MCUGPIO_9";
			linux,code = <143>;
			interrupt-parent = <&mcu_gpio0>;
			gpios = <&mcu_gpio0 9 GPIO_ACTIVE_LOW>;
			interrupts = <9 IRQ_TYPE_EDGE_RISING>;
			wakeup-source;
		};
	};
};

&main_pmx0 {
	main_gpio0_pins_default: main-gpio0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0c8, PIN_INPUT_PULLUP, 7) /* (Y25) VOUT0_DATA4.GPIO0_49 */
		>;
	};

	main_gpio1_pins_default: main-gpio1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1a0, PIN_INPUT_PULLUP, 7) /* (E18) MCASP0_AXR0.GPIO1_10 */
			AM62X_IOPAD(0x1ac, PIN_INPUT_PULLUP, 7) /* (E19) MCASP0_AFSR.GPIO1_13 */
		>;
	};
};

&mcu_pmx0 {
	wake_mcugpio1_pins_default: wake-mcugpio1-pins-default {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x0010, PIN_INPUT, 7) /* (D8) MCU_SPI0_D1.MCU_GPIO0_4 */
			AM62X_MCU_IOPAD(0x0024, PIN_INPUT, 7) /* (B4) WKUP_UART0_RXD.MCU_GPIO0_9 */
		>;
	};

	mcu_mcan0_tx_pins_default: mcu-mcan0-tx-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x034, PIN_OUTPUT, 0) /* (D6) MCU_MCAN0_TX */
		>;
	};

	mcu_mcan0_rx_pins_default: mcu-mcan0-rx-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x038, PIN_INPUT, 0) /* (B3) MCU_MCAN0_RX */
		>;
	};

	mcu_mcan0_rx_pins_wakeup: mcu-mcan0-rx-pins-wakeup {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x038, PIN_INPUT | PIN_WKUP_EN, 0) /* (B3) MCU_MCAN0_RX */
		>;
	};

	mcu_mcan1_tx_pins_default: mcu-mcan1-tx-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x03c, PIN_OUTPUT, 0) /* (E5) MCU_MCAN1_TX */
		>;
	};

	mcu_mcan1_rx_pins_default: mcu-mcan1-rx-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x040, PIN_INPUT, 0) /* (D4) MCU_MCAN1_RX */
		>;
	};

	mcu_mcan1_rx_pins_wakeup: mcu-mcan1-rx-pins-wakeup {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x040, PIN_INPUT | PIN_WKUP_EN, 0) /* (D4) MCU_MCAN1_RX */
		>;
	};
};

&mcu_gpio0 {
	status = "okay";
};

&mcu_gpio_intr {
	status = "okay";
};

&mcu_mcan0 {
	pinctrl-names = "default", "wakeup";
	pinctrl-0 = <&mcu_mcan0_tx_pins_default>, <&mcu_mcan0_rx_pins_default>;
	pinctrl-1 = <&mcu_mcan0_tx_pins_default>, <&mcu_mcan0_rx_pins_wakeup>;
	wakeup-source = <&system_partial_io>,
                        <&system_deep_sleep>,
                        <&system_mcu_only>,
                        <&system_standby>;
	status = "okay";
};

&mcu_mcan1 {
	pinctrl-names = "default", "wakeup";
	pinctrl-0 = <&mcu_mcan1_tx_pins_default>, <&mcu_mcan1_rx_pins_default>;
	pinctrl-1 = <&mcu_mcan1_tx_pins_default>, <&mcu_mcan1_rx_pins_wakeup>;
	wakeup-source = <&system_partial_io>,
                        <&system_deep_sleep>,
                        <&system_mcu_only>,
                        <&system_standby>;
	status = "okay";
};

&{/bus@f0000/bus@b00000/target-module@2b300050} {
	status = "disabled";
};

&{/bus@f0000/dss@30200000} {
	status = "disabled";
};
