/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/* AM437x GP EVM */

/dts-v1/;

#include "am43x-common-evm.dtsi"

/ {
	model = "TI AM437x gp EVM";
	compatible = "ti,am437x-gp-evm","ti,am4372","ti,am43";
};

&rtc {
	status = "okay";
};
