/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "dra7.dtsi"

/ {
	model = "TI DRA7";
	compatible = "ti,dra7-evm", "ti,dra752", "ti,dra7";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x60000000>; /* 1536 MB */
	};

	extcon1: gpio_usbvid_extcon1 {
		compatible = "ti,gpio-usb-id";
		gpios = <&gpio21 1 0>;
	};

	extcon2: gpio_usbvid_extcon2 {
		compatible = "ti,gpio-usb-id";
		gpios = <&gpio21 2 0>;
	};
};

&dra7_pmx_core {
	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x400 0x60000	/* i2c1_sda */
			0x404 0x60000	/* i2c1_scl */
		>;
	};

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			0x408 0x60000	/* i2c2_sda */
			0x40c 0x60000	/* i2c2_scl */
		>;
	};

	i2c3_pins: pinmux_i2c3_pins {
		pinctrl-single,pins = <
			0x410 0x60000	/* i2c3_sda */
			0x414 0x60000	/* i2c3_scl */
		>;
	};

	mcspi1_pins: pinmux_mcspi1_pins {
		pinctrl-single,pins = <
			0x3a4 0x40000	/* spi2_clk */
			0x3a8 0x40000	/* spi2_d1 */
			0x3ac 0x40000	/* spi2_d0 */
			0x3b0 0xc0000	/* spi2_cs0 */
			0x3b4 0xc0000	/* spi2_cs1 */
			0x3b8 0xe0006	/* spi2_cs2 */
			0x3bc 0xe0006	/* spi2_cs3 */
		>;
	};

	mcspi2_pins: pinmux_mcspi2_pins {
		pinctrl-single,pins = <
			0x3c0 0x40000	/* spi2_sclk */
			0x3c4 0xc0000	/* spi2_d1 */
			0x3c8 0xc0000	/* spi2_d1 */
			0x3cc 0xe0000	/* spi2_cs0 */
		>;
	};

	uart1_pins: pinmux_uart1_pins {
		pinctrl-single,pins = <
			0x3e0 0xe0000	/* uart1_rxd */
			0x3e4 0xe0000	/* uart1_txd */
			0x3e8 0x60003	/* uart1_ctsn */
			0x3ec 0x60003	/* uart1_rtsn */
		>;
	};

	uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
			0x3f0 0x60000 /* uart2_rxd */
			0x3f4 0x60000 /* uart2_txd */
			0x3f8 0x60000 /* uart2_ctsn */
			0x3fc 0x60000 /* uart2_rtsn */
		>;
	};

	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x248 0xc0000 /* uart3_rxd */
			0x24c 0xc0000 /* uart3_txd */
		>;
	};

	qspi1_pins: pinmux_qspi1_pins {
		pinctrl-single,pins = <
			0x4c 0x40001  /* gpmc_a3.qspi1_cs2 */
			0x50 0x40001  /* gpmc_a4.qspi1_cs3 */
			0x74 0x40001  /* gpmc_a13.qspi1_rtclk */
			0x78 0x40001  /* gpmc_a14.qspi1_d3 */
			0x7c 0x40001  /* gpmc_a15.qspi1_d2 */
			0x80 0x40001  /* gpmc_a16.qspi1_d1 */
			0x84 0x40001  /* gpmc_a17.qspi1_d0 */
			0x88 0x40001  /* qpmc_a18.qspi1_sclk */
			0xb8 0x60001  /* gpmc_cs2.qspi1_cs0 */
			0xbc 0x60001  /* gpmc_cs3.qspi1_cs1 */
		>;
	};

	usb1_pins: pinmux_usb1_pins {
                pinctrl-single,pins = <
			0x280	0xc0000	/* usb1_drvvbus, SLOW_SLEW | PULLUPEN | MODE0 */
                >;
        };

	usb2_pins: pinmux_usb2_pins {
                pinctrl-single,pins = <
			0x284	0xc0000 /* usb2_drvvbus, SLOW_SLEW | PULLUPEN | MODE0 */
                >;
        };
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <400000>;

	gpio20: gpio@20 {
		compatible = "ti,pcf8575";
		reg = <0x20>;
		lines-initial-states = <0x4000>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio6>;
		interrupts = <11 2>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	gpio21: gpio@21 {
		compatible = "ti,pcf8575";
		reg = <0x21>;
		lines-initial-states = <0x1408>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio20>;
		interrupts = <14 2>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	clock-frequency = <400000>;
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	clock-frequency = <3400000>;
};

&mcspi1 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcspi1_pins>;
};

&mcspi2 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcspi2_pins>;
};

&uart1 {
	status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart1_pins>;
};

&uart2 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart2_pins>;
};

&uart3 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart3_pins>;
};

&qspi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&qspi1_pins>;

	spi-max-frequency = <48000000>;
	m25p80@0 {
		compatible = "s25fl256s1";
		spi-max-frequency = <48000000>;
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-cpol;
		spi-cpha;
	};
};

&usb1 {
	dr_mode = "otg";
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins>;
};

&usb2 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_pins>;
};

&dwc3_1 {
	extcon = <&extcon1>;
};

&dwc3_2 {
	extcon = <&extcon2>;
};
