config ARCH_HAS_RESET_CONTROLLER
	bool

menuconfig RESET_CONTROLLER
	bool "Reset Controller Support"
	default y if ARCH_HAS_RESET_CONTROLLER
	help
	  Generic Reset Controller support.

	  This framework is designed to abstract reset handling of devices
	  via GPIOs or SoC-internal reset controller modules.

	  If unsure, say no.

if	RESET_CONTROLLER

config	RESET_AMX3
	bool "AMx3 reset controller"
	help
	  Reset controller support for AM43x/AM335x SoC's

	  Reset controller found in TI's AM series of SoC's like
	  AM335x and AM43x

	  If unsure, say no.

endif
