###############################################################################
# TI Android Config Options
# Use to set additional android options exclusively for TI products
# Note:
# Use android/configs/android-base.cfg to set google android base options
# Use android/configs/android-recommended.cfg to set google android
# recommended options
###############################################################################
CONFIG_MODULES=y
CONFIG_CMDLINE="root=/dev/mmcblk1p2 rw console=ttyO0,119200 androidboot.console=ttyO0 init=/init rootfstype=ext4 rootwait drm.rnodes=1"
CONFIG_CMDLINE_EXTEND=y
