###############################################################################
# TI Android Config Options
# Use to set additional android options exclusively for TI v8 products
# Note:
# Use kernel/configs/android-base.config to set google android base options
# Use kernel/configs/android-recommended.config to set google android
# recommended options
# Use kernel/configs/android-base-arm64.config to set google
# android base arm64 platform options
###############################################################################
CONFIG_ARM64_64K_PAGES=n
CONFIG_ARM64_4K_PAGES=y

# Misc
CONFIG_DEVTMPFS=n

# ION heaps
CONFIG_ION_CMA_HEAP=y

# Memory
CONFIG_ZRAM=y
CONFIG_ZRAM_WRITEBACK=y

# File System
CONFIG_INCREMENTAL_FS=y
CONFIG_PSTORE_PMSG=y
CONFIG_UNICODE=y
